*{
    font-family: 'IM Fell French Canon', serif;
}

#header{
    background-image:url("Images/header.jpg");
    color:#FFFFFF;
    height:95vh;
    background-position:center;
    background-size:cover;
}

@media(max-width:600px){
    #header{
        padding: 0 100px;
    }
}
/* "Medium" breakpoint */
@media(min-width:992px){
    .card-text{
        height:110px;
    }
}

/* "Large" breakpoint */
@media(min-width:1200px){
    .card-text{
        height:90px;
    }
}

/* "Extra Large" breakpoint */
@media(min-width:1400px){
    .card-text{
        height:70px;
    }
}
